html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  .font-text();
  box-sizing: border-box;
  min-width: @mobile-width;
  max-width: @desktop-width;
  margin: auto;
  padding: 0;
  font-family: @font-base;
  color: #000000;
  background-color: @white;
  font-style: normal;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    box-shadow: 10px 0 12px #dcdcdc, -10px 0 12px #dcdcdc;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
