.copyright {
  font-size: 14px;
  font-weight: normal;
}

.copyright__link {
  align-self: flex-end;

  &:hover .copyright__icon {
    fill: @color_blue;
  }

  &:active .copyright__icon {
    fill: #b2b2b2;
  }
}

.copyright__icon {
  width: 40px;
  height: 40px;
  fill: #000000;
}
