.decoration__wrapper {
  width: 320px;
  height: 160px;
  background-image:
  url("../img/text-sedona.svg"),
  url("../img/bg-back-tablet@1x.jpg");
  background-size:
  230px 40px,
  320px 160px;
  background-repeat: no-repeat;
  background-position: center;
}
