.feature {
  .font-text();
  width: auto;
}

.feature__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 416px;
  margin: 0;
  padding: 35px 20px 39px 0;
  list-style: none;
}

.feature__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;

  &--housing {
    padding-left: 69px;
    order: 0;

    &::before {
      content: "";
      position: absolute;
      background: url("../img/icon-house.svg") no-repeat;
      background-size: 37px 36px;
      width: 37px;
      height: 36px;
      top: -9px;
      left: 21px;
    }
  }

  &--souvenir {
    padding-left: 70px;
    order: 1;

    &::before {
      content: "";
      position: absolute;
      background: url("../img/icon-gift.svg") no-repeat;
      background-size: 32px 38px;
      width: 32px;
      height: 38px;
      top: -11px;
      left: 25px;
    }
  }

  &--food {
    padding-left: 70px;
    order: 2;

    &::before {
      content: "";
      position: absolute;
      background: url("../img/icon-burger.svg") no-repeat;
      background-size: 40px 35px;
      width: 40px;
      height: 35px;
      top: -4px;
      left: 18px;
    }
  }
}

.feature__title {
  .font-title();
  margin: 0;
  margin-bottom: 14px;
}

.feature__details {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .feature__list {
    min-height: 330px;
    padding: 0;
    flex-direction: row;
  }

  .feature__item {
    width: 33.3%;
    min-height: 330px;
    padding: 0;

    &--housing {
      padding: 160px 47px 63px 48px;

      &::before {
        background-size: 75px 72px;
        width: 75px;
        height: 72px;
        top: 60px;
        left: calc(50% - 37.5px);
      }
    }

    &--souvenir {
      padding: 160px 46px 63px 46px;
      order: 2;

      &::before {
        background-size: 64px 75px;
        width: 64px;
        height: 75px;
        top: 57px;
        left: calc(50% - 32px);
      }
    }

    &--food {
      padding: 160px 44px 63px 44px;
      order: 1;

      &::before {
        background-size: 77px 68px;
        width: 77px;
        height: 68px;
        top: 63px;
        left: calc(50% - 38.5px);
      }
    }
  }

  .feature__title {
    .font-title-tablet-desktop();
  }
}

@media (min-width: @desktop-width) {
  .feature__item {
    width: 400px;

    &--housing {
      padding: 160px 60px 75px 60px;

      &::before {
        left: 161px;
      }
    }

    &--souvenir {
      padding: 160px 83px 51px 56px;

      &::before {
        left: 165px;
      }
    }

    &--food {
      padding: 160px 60px 87px 60px;

      &::before {
        left: 161px;
      }
    }
  }
}
