.feature {
  .font-text();
}

.feature__title {
  margin: 0;
  .font-title();
}

.feature__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature__details {
  margin: 0;
  margin-top: 14px;
}

.feature__item--housing {
  padding: 29px 41px 28px 69px;
}

.feature__item--souvenir {
  padding: 0 51px 28px 70px;
}

.feature__item--food {
  padding: 0 70px 36px 70px;
}
