.feature {
  .font-text();
  width: auto;
}

.feature__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: @mobile-width;
  min-height: 416px;
  margin: 0;
  padding: 35px 20px 39px 0;
  list-style: none;
}

.feature__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding-left: 69px;
  text-align: left;

  &--housing {
    order: 0;

    &::before {
      content: "";
      position: absolute;
      background: url("../img/icon-house.svg") no-repeat;
      background-size: 37px 36px;
      width: 37px;
      height: 36px;
      top: -9px;
      left: 21px;
    }
  }

  &--souvenir {
    padding-top: 2px;
    order: 1;

    &::before {
      content: "";
      position: absolute;
      background: url("../img/icon-gift.svg") no-repeat;
      background-size: 32px 38px;
      width: 32px;
      height: 38px;
      top: -9px;
      left: 23px;
    }
  }

  &--food {
    padding-top: 2px;
    padding-left: 70px;
    order: 2;

    &::before {
      content: "";
      position: absolute;
      background: url("../img/icon-burger.svg") no-repeat;
      background-size: 40px 35px;
      width: 40px;
      height: 35px;
      top: 0;
      left: 17px;
    }
  }
}

.feature__title {
  .font-title();
  margin: 0;
  margin-bottom: 14px;
}

.feature__details {
  margin: 0;
}

br {
  display: none;
}

@media (min-width: @tablet-width) {
  br {
    display: block;
  }

  .feature__list {
    width: @tablet-width;
    min-height: 330px;
    padding: 0;
    flex-direction: row;
  }

  .feature__item {
    display: block;
    width: 256px;
    min-height: 330px;
    padding: 0;
    padding-top: 159px;
    text-align: center;

    &--housing {
      &::before {
        background-size: 75px 72px;
        width: 75px;
        height: 72px;
        top: 60px;
        left: calc(50% - 37.5px);
      }
    }

    &--souvenir {
      order: 2;

      &::before {
        background-size: 64px 75px;
        width: 64px;
        height: 75px;
        top: 57px;
        left: calc(50% - 32px);
      }
    }

    &--food {
      order: 1;

      &::before {
        background-size: 77px 68px;
        width: 77px;
        height: 68px;
        top: 63px;
        left: calc(50% - 38.5px);
      }
    }
  }

  .feature__title {
    .font-title-tablet-desktop();
    margin-bottom: 21px;
  }


  .feature__details {
    margin: 0 auto;

    &--housing {
      width: 160px;
    }

    &--souvenir {
      width: 169px;
    }

    &--food {
      width: 155px;
    }
  }
}

@media (min-width: @desktop-width) {
  .feature__list {
    width: @desktop-width;
  }

  .feature__item {
    width: 400px;

    &--housing {
      &::before {
        left: 161px;
      }
    }

    &--souvenir {
      &::before {
        left: 165px;
      }
    }

    &--food {
      &::before {
        left: 161px;
      }
    }
  }

  .feature__details {
    margin: 0 auto;

    &--housing {
      width: 310px;
    }

    &--souvenir {
      width: 215px;
    }

    &--food {
      width: 300px;
    }
  }
}
