.form {
  font-size: 14px;
  line-height: 26px;
}

.form-name__list,
.form-contacts__list,
.form-impression__list,
.form-attractions__list {
  list-style: none;
}

.form-name,
.form-contacts,
.form-impression,
.form-attractions {
  border: none;
}
