.gallery {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: @desktop-width) {
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
    padding: 0;
  }
}
