.links {
  width: auto;
}

.links__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 120px;
  margin: 0 auto;
  padding: 38px 0 0;
}

.links__contacts {
  margin-bottom: 25px;
  font-size: 21px;
  font-weight: bold;
}

.links__social {
  margin-bottom: 32px;
  list-style: none;
}

.links__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 136px;
  margin-right: -5px;
}

@media (min-width: @tablet-width) {
  .links__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px;
  }

  .links__contacts {
    margin-bottom: 2px;
  }

  .links__social {
    margin-bottom: 12px;
    margin-right: 8px;
  }
}

@media (min-width: @desktop-width) {
  .links__wrapper {
    min-height: 120px;
    padding: 0 120px;
  }

  .links__copyright {
    margin-right: -7px;
  }

  .links__social {
    margin-bottom: 14px;
    margin-right: 6px;
  }
}
