.font-title() {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.font-text() {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.input-text() {
  background-color: @color_grey;
  border: none;
  overflow: hidden;
}
