.page-subtitle {
  position: relative;
  min-height: 189px;
  font-size: 14px;
  line-height: 24px;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    bottom: 0;
    left: 0;
  }
}

.page-subtitle__wrapper {
  width: 270px;
  margin: 0 auto;
  padding: 0;
  padding-top: 37px;
  text-align: center;

  &--form {
    width: 276px;
    padding-bottom: 17px;
  }

  &--photo {
    padding-bottom: 27px;
  }
}

.page-subtitle__title {
  .font-title();
  margin: 0;
  margin-bottom: 26px;
}

.page-subtitle__text {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .page-subtitle {
    &::after {
      display: none;
    }
  }

  .page-subtitle__title {
    margin-bottom: 32px;
    font-size: 30px;
    line-height: 26px;
    font-weight: bold;
  }

  .page-subtitle__wrapper {
    padding: 0;

    &--form {
      width: 439px;
      padding-top: 73px;
      padding-bottom: 66px;
    }

    &--photo {
      width: 428px;
      padding-top: 74px;
      padding-bottom: 55px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-subtitle__title {
    margin-bottom: 32px;
    font-size: 30px;
    line-height: 26px;
  }

  .page-subtitle__wrapper {
    padding-top: 112px;
    padding-bottom: 51px;
  }
}
