.page-header {
  position: relative;
  margin-bottom: 56px;
}

.page-header__logo {
  position: absolute;
  left: calc(50% - 51px);
}

@media (min-width: @tablet-width) {
  .page-header {
    margin: 0;
  }

  .page-header__logo {
    top: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    margin: 0;
  }

  .page-header__logo {
    top: 0;
  }
}
