.page-header {
  position: relative;
  margin-bottom: 56px;
}

.page-header__logo {
  position: absolute;
  left: calc(50% - 51px);
  bottom: -89px;
}

@media (min-width: @tablet-width) {
  .page-header {
    margin: 0;
  }

  .page-header__logo {
    width: 102px;
    height: 83px;
    top: 0;
  }
}
