.popup__title {
  .font-title();
}

.popup__text {
  .font-text();
}

.popup__wrapper--error {
  padding: 47px 56px 20px 52px;
  text-align: center;
}

.popup__wrapper--success {
  padding: 49px 54px 20px 57px;
  text-align: center;
}
