.popup {
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

  &--error {
    min-height: 280px;

    .popup__text {
      width: 207px;
      margin-top: 30px;
    }
  }

  &--success {
    min-height: 323px;

    .popup__text {
      width: 224px;
      margin-top: 30px;
    }
  }
}

.popup__wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;

  &--error {
    padding: 32px 0 35px;
  }

  &--success {
    padding-top: 34px;
  }
}

.popup__title {
  .font-title();
  margin: 0 auto;
}

.popup__text {
  .font-text();
  margin: 0 auto;
}

.popup__button {
  .font-title();
  min-height: 58px;
  margin: 0 auto;

  &--close {
    width: 180px;
    margin-top: 29px;
  }

  &--success {
    width: 280px;
    margin-top: 29px;
  }
}

.popup__wrapper--button {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .popup {
    min-height: 347px;
    margin: 0 auto;

    &--error {
      width: 400px;

      .popup__text {
        width: 277px;
        margin-top: 40px;
      }
    }

    &--success {
      width: 640px;

      .popup__text {
        width: 414px;
        margin-top: 50px;
      }
    }
  }

  .popup__wrapper {
    &--error {
      width: 277px;
      padding: 49px 0 44px;
    }

    &--success {
      width: 414px;
      padding: 43px 0 35px;
    }

    &--button {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 146px;
      background-color: @color_gray;
    }
  }

  .popup__title {
    font-size: 30px;
    line-height: 26px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .popup__text {
    font-size: 14px;
    line-height: 24px;
  }

  .popup__button {
    &--close {
      width: 272px;
    }

    &--success {
      width: 458px;
      margin-top: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .popup__title {
    line-height: 40px;
  }
}
