.reasons {
  .font-text();
}

.reasons__wrapper {
  padding: 55px 27px 26px 28px;
  background-color: @color_blue;
}

.reasons__wrapper--bridge {
  padding: 40px 27px 24px 28px;
  background-color: @color_blue;
}

.reasons__title {
  margin: 0;
  margin-bottom: 10px;
  .font-title();
}

.reasons__item {
  color: @white;
  text-align: center;
}

.reasons__pic {
  width: 320px;
  height: 260px;
}
