.reasons {
  .font-text();
  width: @mobile-width;
  min-height: 211px;
  margin: 0 auto;
}

.reasons__item {
  box-sizing: border-box;
  padding: 55px 27px 26px 28px;
  color: @white;
  background-color: @color_blue;
  text-align: center;

  &--bridge {
    box-sizing: border-box;
    min-height: 191px;
    padding: 40px 27px 24px 28px;
  }
}

.reasons__title {
  .font-title();
  margin: 0;
  margin-bottom: 10px;
}

.reasons__photo {
  width: @mobile-width;
  height: 260px;
  margin: 0 auto;
}

.reasons__pic {
  width: @mobile-width;
  height: 260px;

  &--city {
    background-image: url("../img/main-city-mobile@1x.jpg");
  }

  &--bridge {
    background-image: url("../img/main-bridge-mobile@1x.jpg");
  }
}

@media (min-width: @tablet-width) {
  .reasons {
    display: flex;
    box-sizing: border-box;
    width: @tablet-width;
    min-height: 256px;
  }

  .reasons__title {
    .font-title-tablet-desktop();
  }

  .reasons__item {
    padding: 45px 45px 47px 45px;
    width: 256px;
    height: 256px;

    &--bridge {
      width: 256px;
      height: 256px;
      padding: 45px 49px;
    }
  }

  .reasons__photo {
    height: 256px;
    margin: 0;
  }

  .reasons__pic {
    width: 512px;
    height: 256px;
  }
}

@media (min-width: @desktop-width) {
  .reasons {
    width: @desktop-width;
  }

  .reasons__title {
    .font-title-tablet-desktop();
  }

  .reasons__item {
    width: 400px;
    height: 256px;
    padding: 52px 65px 61px 64px;

    &--bridge {
      width: 400px;
      height: 256px;
      padding: 55px 90px 60px 90px;
    }
  }

  .reasons__pic {
    width: 800px;
    height: 256px;
  }
}
