.search {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  .search__title {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
  }
  .search__button {
    text-align: center;
    text-decoration: none;
  }
}
