.search {
  padding: 28px 25px 40px 25px;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;

  .search__title {
    margin: 0;
    margin-bottom: 19px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
  }

  .search__description {
    margin: 0;
  }

  .search__button {
    display: block;
    margin: 40px 20px 40px 19px;
    text-align: center;
    text-decoration: none;
  }
}
