.search {
  box-sizing: border-box;
  min-height: 287px;
  padding: 28px 25px 40px 25px;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;

  .search__wrapper {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
  }

  .search__title {
    margin: 0;
    margin-bottom: 19px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
  }

  .search__description {
    margin: 0;
  }

  .search__button {
    box-sizing: border-box;
    display: block;
    width: 87.5%;
    max-width: 450px;
    height: 57px;
    margin: 40px auto;
    padding-top: 17px;
    text-align: center;
    text-decoration: none;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
  }
}


@media (min-width: @tablet-width) {
  .search {
    min-height: 318px;
    padding: 56px 155px 55px 155px;

    .search__wrapper {
      max-width: 660px;
    }

    .search__title {
      font-size: 30px;
      line-height: 26px;
      font-weight: bold;
    }

    .search__button {
      width: 458px;
      height: 58px;
      margin: 48px auto 59px;
    }
  }
}

@media (min-width: @desktop-width) {
  .search {
    min-height: 331px;
    padding: 53px 371px 62px 371px;

    .search__wrapper {
      max-width: @desktop-width;
    }

    .search__button {
      margin: 59px auto 0;
    }
  }
}
