.slogan {
  width: 320px;
  min-height: 225px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 26px;
  text-align: center;

  .slogan__title {
    .font-title();
    margin: 0;
    margin-bottom: 34px;
  }

  .slogan__text {
    margin: 0;
  }
}

.slogan__wrapper {
  padding: 29px 30px 35px 30px;
}

@media (min-width: @tablet-width) {
  .slogan {
    width: 768px;
    min-height: 208px;

    .slogan__title {
      .font-title-tablet-desktop();
    }
  }

  .slogan__wrapper {
    padding: 49px 139px 55px 139px;
  }
}

@media (min-width: @desktop-width) {
  .slogan {
    width: 1200px;
    min-height: 208px;

    .slogan__title {
      .font-title-tablet-desktop();
    }
  }

  .slogan__wrapper {
    padding: 49px 350px 55px 350px;
  }
}
