.slogan {
  width: auto;
  min-height: 225px;
  font-size: 14px;
  line-height: 26px;
  text-align: center;

  .slogan__title {
    .font-title();
    margin: 0;
    margin-bottom: 27px;
  }

  .slogan__text {
    margin: 0;
  }
}

.slogan__wrapper {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 40px 10% 35px 10%;
}

@media (min-width: @tablet-width) {
  .slogan {
    min-height: 206px;

    .slogan__title {
      .font-title-tablet-desktop();
    }
  }

  .slogan__wrapper {
    padding: 49px 18% 48px 18%;
  }
}

@media (min-width: @desktop-width) {
  .slogan__wrapper {
    padding: 49px 29% 52px 29%;
  }
}
