.social {
  display: flex;
  width: 151px;
  padding: 0;
}

.social__item {
  display: block;
}

.social__link {
  display: inline-block;
  background-color: @color_blue;
  text-align: center;
  vertical-align: middle;

  &--twitter {
    width: 46px;
    height: 48px;
    margin-right: 6px;
  }

  &--facebook {
    width: 47px;
    height: 48px;
    margin-right: 6px;
  }

  &--youtube {
    width: 46px;
    height: 48px;
  }
}

.social__icon {
  fill: @white;
}
