.video-header__wrapper {
  padding: 41px 41px 41px 43px;
  text-align: center;
}

.video-header__title {
  margin: 0;
  margin-bottom: 25px;
  .font-title();
}

.video-header__text {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
}
