.video-header {
  width: 320px;
  margin: 0 auto;
}

.video-header__wrapper {
  margin: 0 auto;
  padding: 41px 41px 41px 43px;
  text-align: center;
}

.video-header__title {
  margin: 0;
  margin-bottom: 25px;
  .font-title();
}

.video-header__text {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
}

@media (min-width: @tablet-width) {
  .video-header {
    width: 768px;
  }

  .video-header__wrapper {
    padding: 67px 177px 77px 176px;
  }
}

@media (min-width: @desktop-width) {
  .video-header {
    width: 1200px;
  }

  .video-header__wrapper {
    padding: 70px 392px 74px 393px;
  }
}
