.view {
  width: auto;
  background-color: @color_gray;
}

.view__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.view__title {
  .font-title();
  margin: 0;
  margin-bottom: 9px;
}

.view__item {
  position: relative;
  width: 100%;
  min-height: 168px;
  padding: 28px 10% 0;
  .font-text();

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 280px;
    height: 1px;
    background-color: #d6d6d6;
    bottom: 0;
    left: 6%;
  }

  &--tourists::after {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .view__list {
    flex-direction: row;
    min-height: 256px;
  }

  .view__item {
    width: 256px;
    max-width: 400px;
    min-height: 256px;
    padding: 0;
    padding-top: 45px;

    &::after {
      display: none;
    }
  }

  .view__title {
    .font-title-tablet-desktop();
    width: 159px;
    margin: 0 auto 10px;
  }

  .view__description {
    width: 150px;
    margin: 21px auto 0;

    &--square {
      width: 160px;
    }
  }
}

@media (min-width: @desktop-width) {
  .view__item {
    .font-text();
    width: 400px;
  }

  .view__description {
    width: 270px;
    margin-top: 21px;

    &--square {
      width: 300px;
    }
  }
}
