.welcome {
  width: @mobile-width;
  min-height: 389px;
  margin: 0 auto;
  background-image: url("../img/text-sedona-index.svg");
  background-size: 281px 214px;
  background-repeat: no-repeat;
  background-position: center;
}

.welcome__wrapper {
  position: relative;
  z-index: -2;
  width: 100%;
  height: 389px;
  background-color: @color_blue;

  &::before {
    content: "";
    background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 389px;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    background: url("../img/bg-intro-triangle-mobile.svg") no-repeat;
    z-index: 0;
    position: absolute;
    background-position-x: center;
    width: 100%;
    height: 26px;
    bottom: -1px;
  }
}

@media (min-width: @tablet-width) {
  .welcome {
    width: @tablet-width;
    min-height: 518px;
    background-size: 460px 350px;
  }

  .welcome__wrapper {
    height: 518px;

    &::before {
      background: url("../img/bg-back-tablet@1x.jpg") no-repeat;
      height: 518px;
    }

    &::after {
      background: url("../img/bg-intro-triangle-tablet.svg") no-repeat;
      height: 57px;
    }
  }
}

@media (min-width: @desktop-width) {
  .welcome {
    width: @desktop-width;
  }

  .welcome__wrapper {
    &::before {
      background: url("../img/bg-back-desktop@1x.jpg") no-repeat;
    }

    &::after {
      background: url("../img/bg-intro-triangle-desktop.svg") no-repeat;
    }
  }
}
