.welcome__wrapper {
  width: 320px;
  height: 389px;
  background-image:
  url("../img/text-sedona-index.svg"),
  url("../img/bg-back-tablet@1x.jpg");
  background-size:
  281px 214px,
  320px 389px;
  background-repeat: no-repeat;
  background-position: center;
}
